@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Pacifico&display=swap");
:root {
  --primary-font: "Architects Daughter", cursive;
  --secondary-font: "Lato", sans-serif;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  padding-bottom: 9rem; /*Parent element of footer. Fixes problem with content sitting underneath footer
  when using position: fixed; bottom: 0, footer height set at 8rem*/
}

/*Header -  All Pages*/
header {
  display: flex;
  align-items: center;
  background: #93778b;
}
header img{
  width: 5rem;
  height: 6rem;
  margin-top: 1px;
  margin-left: 1px;
  border: 3px solid #000;
  border-radius: 25%;
}
header p {
  padding: 1rem;
  font-family: var(--primary-font);
  font-size: 2.5rem;
  color: #fff;
}

/*Navigation Bar - All Pages*/
nav {
  width: 100%;
  display: flex;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  position: sticky;
  top: 0;
  background: #282ec0;
}
nav ul {
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  font-family: var(--secondary-font);
  font-size: 1.5rem;
  padding-top: 0.25rem;
  color: #fff;
}
nav ul li a:hover {
  color: #ff0000;
}
nav ul li a:visted {
  color: #ffff00;
}
/*Main Content Area - All Pages*/
main {
  display: flex;
  flex-direction: column;
  width: 100%;
}
h1 {
  padding-bottom: 1rem;
  text-align: center;
  font-family: var(--primary-font);
  font-size: 3rem;
}

/*Breadcrumbs*/
main ul {
  display: flex;
  padding: 1rem;
  list-style: none;
}
main ul a {
  text-decoration: none;
  font-family: var(--secondary-font);
}
main ul li {
  font-family: var(--secondary-font);
}
main ul li + li:before {
  padding: 0.5rem;
  color: black;
  content: "/\00a0";
}

/*Home page*/
#homepage {
  /*main content area for homepage*/
  width: 100%; 
}
#homepage h1{
  padding: 1rem;
}
#homepage img {
  width: 100%;
  }

/*Blog Page*/
#blog {
  /*section containing blog articles*/
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#blog-page-heading {
  width: 100%; /*prevents page heading from aligning with blog posts when flex direction changes to row*/
}
.blog-post {
  /*Article containing blog posts*/
  display: flex;
  flex-direction: column;
  width: 70%;
  border: 1px solid #000;
  margin: 1rem auto;
}
.blog-heading {
  /*title of each blog post*/
  font-family: var(--secondary-font);
  font-size: 1.5rem;
  text-align: center;
  padding: 1rem;
}
.blog-date-and-time {
  /*date and time of blog post - above image*/
  font-family: var(--secondary-font);
  color: #616161;
  font-style: italic;
  padding: 1rem;
}
.blog-post-image {
  width: 10rem;
  height: 10rem;
  margin: 0 auto;
}
.blog-post-content {
  font-family: var(--secondary-font);
  line-height: 1.5;
  padding: 1rem;
}

/*About Me Page*/
#about-me-content {
  /*Article containing about me content*/
  width: 80%;
  margin: 0 auto;
}

#about-me-img {
  /*Container for image in article*/
  width: 40%;
  border: 1px solid #000;
  margin: 1rem;
  float: left;
}
#about-me-txt {
  /*Paragraph containing about me text*/
  font-family: var(--secondary-font);
  line-height: 1.5;
  font-size: 1.25rem;
  padding: 1rem;
}

/*Contact Page*/
#contact-main-heading {
  font-size: 3rem;
}
#contact-page-main-area {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.contact-page-article {
  width: 80%;
  height: 20rem;
  margin: 1rem auto;
}
#contact-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-top: 4px solid #000;
  border-left: 4px solid #000;
}
#contact-block h3 {
  font-family: var(--secondary-font);
  font-size: 2rem;
  text-align: center;
}
#contact-block p {
  font-size: 1.65rem;
  color: #282ec0;
  font-family: var(--primary-font);
  text-align: center;
}
#txt-block {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #93778b;
  border-bottom: 4px solid #000;
  border-right: 4px solid #000;
  animation-name: colorful-background;
  animation-duration: 10s;
}
@keyframes colorful-background{
  25% {
    background:#282ec0;
  }
  50% {
    background: #93778b;
  }
  75% {
    background: #282ec0;
  }
}
#txt-block h2 {
  font-family: var(--primary-font);
  font-size: 3.75rem;
  color: #fff;
  padding: 2rem;
}

/*Footer - All Pages*/
footer {
  display: flex;
  width: 100%;
  height: 8rem;
  border: 1px solid #000;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  background: #282ec0;
}
footer img {
  /*Container for github icon*/
  width: 5rem;
  height: 5rem;
  margin: 2rem;
  background: #fff;
  padding: 0.5rem;
  border: 2px solid #000;
  border-radius: 25%;
}
footer p {
  /*Copyright text*/
  font-family: var(--secondary-font);
  margin: 2rem;
  color: #fff;
}

@media only screen and (min-width: 500px) {
  nav ul {
    /*Makes navabar display horizontally*/
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
  }
  .blog-post {
    width: 70%;
    margin-bottom: 1rem;
  }
}

@media only screen and (min-width: 700px) {
  #contact-page-main-area {
    flex-direction: row;
  }
  .contact-page-article {
    width: 40%;
    height: 30rem;
  }
  #blog {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .blog-post {
    width: 40%;
    margin-bottom: 1rem;
  }
}

@media only screen and (min-width: 950px) {
  #contact-block h3 {
    font-size: 2.5rem;
  }
  #contact-block p {
    font-size: 2.25rem;
  }
}
