@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap");
:root {
  --primary-font: "Architects Daughter", cursive;
  --secondary-font: "Lato", sans-serif;
  --primary-blue: #282ec0;
  --primary-grey: #93778b;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  padding-bottom: 9rem; /*Parent element of footer. Fixes problem with content sitting underneath footer
  when using position: fixed; bottom: 0, footer height set at 8rem*/
}

/*Header -  All Pages*/
/*Graphical component 2*/
header {
  display: flex;
  align-items: center;
  background: #93778b;
}
header img {
  width: 80px;
  height: 80px;
  margin: 1rem 2rem;
  border: 3px solid #000;
  border-radius: 25%;
  background: #fff;
}
header p {
  padding: 1.5rem;
  font-family: var(--primary-font);
  font-size: 1.5rem;
  font-weight: 800;
  color: #000;
}

/*Navigation Bar - All Pages*/
/*Text component 1*/
nav {
  width: 100%;
  display: flex;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  position: sticky;
  top: 0;
  background: #282ec0;
}
nav ul {
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  font-family: var(--primary-font);
  font-size: 1.5rem;
  color: #fff;
}
nav ul li a:hover {
  color: #ff0000;
}

/*Main Content Area - All Pages*/
main {
  display: flex;
  flex-direction: column;
  width: 100%;
}
h1 {
  width: 100%;
  padding-bottom: 2rem;
  padding-left: 1rem;
  text-align: left;
  font-family: var(--secondary-font);
  font-size: 2rem;
  border-bottom: 1px solid rgb(147,119,139,0.5);
}

/*Breadcrumbs*/
/*Text component 2*/
main ul {
  display: flex;
  padding: 1rem;
  list-style: none;
}
main ul a {
  text-decoration: none;
  font-family: var(--secondary-font);
}
main ul li {
  font-family: var(--secondary-font);
}
main ul li + li:before {
  padding: 0.5rem;
  color: black;
  content: "/\00a0";
}

/*Home page*/
#homepage {
  width: 100%;
  height: 40vh;
}
#homepage div {
  width: 95%;
  height: 95%;
  margin: auto;
}
#homepage img {
  width: 100%;
  height: 100%;
  margin: auto;
}

/*Blog Page*/
#blog {
  /*section containing blog articles*/
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#blog-page-heading {
  width: 100%; /*prevents page heading from aligning with blog posts when flex direction changes to row*/
}
.blog-post {
  /*Article containing blog posts*/
  display: flex;
  flex-direction: column;
  width: 70%;
  border: 1px solid rgb(147,119,139,0.5);
  margin: 1rem auto;
}
.blog-heading {
  /*title of each blog post*/
  font-family: var(--secondary-font);
  font-size: 1.5rem;
  text-align: center;
  padding: 1rem;
}
.blog-date-and-time {
  /*date and time of blog post - above image*/
  font-family: var(--secondary-font);
  color: #616161;
  font-style: italic;
  padding: 1rem;
}
/*Graphical component 3*/
.blog-post-image {
  width: 10rem;
  height: 10rem;
  margin: 0 auto;
}
.blog-post-content {
  font-family: var(--secondary-font);
  line-height: 1.5;
  padding: 1rem;
}

/*About Me Page*/
#about-me-img {
  /*Container for image in article*/
  width: 90%;
  border: 2px solid #000;
  margin-right: 2rem;
  margin-bottom: 1rem;
  float: left;
}
#about-me-content {
  /*Article containing about me content*/
  width: 80%;
  margin: 1rem auto;
}
/*Graphical component 2*/
#about-me-img {
  /*Container for image in article*/
  width: 40%;
  border: 2px solid #000;
  margin-right: 2rem;
  margin-bottom: 1rem;
  float: left;
}
#about-me-img:hover {
  transform: scale(1.15, 1.15);
  transition: 1.5s;
}
#about-me-txt {
  /*Paragraph containing about me text*/
  font-family: var(--secondary-font);
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5;
}
/*Contact Page*/
#contact-main-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 120vh;
  justify-content: center;
  align-items: center;
}
#contact-main-article {
  justify-content: center;
  border: solid 5px black;
  width: 90%;
  height: 90%;
}
#contact-details {
  border: solid 1px black;
  background: #93778b;
  width: 100%;
  height: 45%;
  animation-name: background-color-change;
  animation-duration: 15s;
}
@keyframes background-color-change{
  25%{
    background: #db7093; 
  }
  50%{
    background: #93778b;
  }
  75%{
    background: #db7093;
  }
  100%{
    background: #93778b;
  }
}
#contact-form {
  border: solid 1px black;
  width: 100%;
  height: 55%;
}
#contact-main-heading {
  font-family: var(--secondary-font);
  text-align: left;
  font-size: 1.75rem;
  padding-left: 1rem;
}
#contact-details h2{
  color: #000;
  font-family: var(--primary-font);
  font-size: 1.75rem;
  padding: 1rem;
}
#contact-details h3 {
  font-family: var(--secondary-font);
  font-size: 1.25rem;
  color: #000;
  margin-left: 1rem;
  margin-bottom: 0.25rem;
  
}
#contact-details p {
  font-family: var(--secondary-font);
  font-size: 1.25rem;
  color: #fff;
  margin-left: 1rem;
  margin-bottom: 1rem;
  
}
#form-sub-heading{
  color: #000;
  font-family: var(--primary-font);
  font-size: 1.75rem;
  padding: 1rem;
}
form{
  display: flex;
  flex-direction: column;
  width: 100%;
  }
  label,input,textarea{
    width: 70%;
    margin: 0.25rem auto;
  }
  label{
    font-family: var(--secondary-font);
    font-size: 1.25rem;
    font-weight: 800;
  }
  #button{
    width: 6rem;
    height: 3rem;
    font-family: var(--secondary-font);
    font-size: 1.25rem;
    color: #fff;
    background: #282ec0;
    border: 3px solid #000;
    border-radius: 10%;
  }

/*Footer - All Pages*/
/*Text component 3*/
footer {
  display: flex;
  width: 100%;
  height: 8rem;
  border: 1px solid #000;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  bottom: 0;
  background: #282ec0;
}
footer img {
  /*Container for github icon*/
  width: 5rem;
  height: 5rem;
  margin: 2rem;
  background: #fff;
  padding: 0.5rem;
  border: 2px solid #000;
  border-radius: 25%;
}
footer p {
  /*Copyright text*/
  font-family: var(--secondary-font);
  font-size: 1.25rem;
  margin: 2rem;
  color: #fff;
}

@media only screen and (min-width: 500px) {
  header p {
    font-size: 2rem;
  }
  nav ul {
    /*Makes navabar display horizontally*/
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
  }
  #homepage {
    height: 55vh;
  }
  .blog-post {
    width: 70%;
    margin-bottom: 1rem;
  }
  #contact-main-section{
    height: 100vh;
  }
}

@media only screen and (min-width: 600px) {
  
  #contact-main-section{
    height: 70vw;
  }#contact-main-article {
    display: flex;
    flex-direction: row-reverse;
  }
  #contact-details {
    width: 40%;
    height: 100%;
  }
  #contact-form {
    width: 60%;
    height: 100%;
  }
}

@media only screen and (min-width: 700px) {
  #contact-page-main-area {
    flex-direction: row;
  }
  #contact-main-section {
    height: 55vh;
  }
  #blog {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .blog-post {
    width: 40%;
    margin-bottom: 1rem;
  }
}

@media only screen and (min-width: 950px) {
  #contact-block h3 {
    font-size: 2.5rem;
  }
  #contact-block p {
    font-size: 2.25rem;
  }
}
