@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  align-items: center;
}
header p {
  padding: 1rem;
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
}
header img {
  width: 100px;
  height: 100px;
  border: 1px solid #000;
  border-radius: 50%;
  margin: 1rem;
}
nav {
  width: 100%;
  display: flex;
  padding: 1rem;
  justify-content: center;
  align-items: center;
}
nav {
  border: 1px solid #000;
}
nav ul {
  list-style: none;
}
nav ul a {
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  padding-top: 0.25rem;
}
footer {
  display: flex;
  width: 100%;
  border: 1px solid #000;
  position: absolute;
  bottom: 0;
  align-items: center;
  justify-content: space-between;
}
footer img {
  width: 5rem;
  margin: 2rem;
  border: 1px solid #000;
}
footer p{
    font-family: "Lato", sans-serif; 
    margin: 2rem;
    
    
}

@media only screen and (min-width: 500px) {
  nav ul {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
  }
}
