@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

:root {
  --primary-font: "Lato", sans-serif;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  align-items: center;
}
header p {
  padding: 1rem;
  font-family: var(--primary-font);
  font-size: 1.5rem;
}
header img {
  width: 100px;
  height: 100px;
  border: 1px solid #000;
  border-radius: 50%;
  margin: 1rem;
}
nav {
  width: 100%;
  display: flex;
  padding: 1rem;
  justify-content: center;
  align-items: center;
}
nav {
  border: 1px solid #000;
}
nav ul {
  list-style: none;
}
nav ul a {
  text-decoration: none;
  font-family: var(--primary-font);
  font-size: 1.5rem;
  padding-top: 0.25rem;
}
main {
    display: flex;
  flex-direction: column;
    width: 100%;
    
}
section {
  display: flex;
  width: 100%;
}
#blog{
  display: flex;
  flex-direction:column;
  align-items: center;
}
.blog-post {
  /*blog post container*/
  display: flex;
  width: 70%;
  height: 10rem;
  border: 1px solid #000;
  margin: 1rem;
}
main ul {
  display: flex;
  padding: 1rem;
  list-style: none;
}
main ul a {
  text-decoration: none;
}
main ul li + li:before {
  padding: 0.5rem;
  color: black;
  content: "/\00a0";
}
#about-me-content{

  width: 80%;
  height: 20rem;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}
#about-me-img{
  width: 40%;
  height: 40%;
  border: 1px solid #000;
  margin: 1rem;
  float: left;
}
#about-me-txt{
  padding: 1rem;
}
footer {
  display: flex;
  width: 100%;
  border: 1px solid #000;
  align-items: center;
  justify-content: space-between;

}
footer img {
  width: 5rem;
  margin: 2rem;
  border: 1px solid #000;
}
footer p {
  font-family: var(--primary-font);
  margin: 2rem;
}

@media only screen and (min-width: 500px) {
  nav ul {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
  }
  main{
    display: flex;
    width: 100%;  
  }
  #blog{
    flex-direction: row;
  }
  .blog-post{
    
  }
  #about-me-img{
    width: 30%;
    height: 90%;
  }
