@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

:root {
  --primary-font: "Lato", sans-serif;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  overflow: scroll;
}

/*Header -  All Pages*/
header {
  display: flex;
  align-items: center;
}
header p {
  padding: 1rem;
  font-family: var(--primary-font);
  font-size: 1.5rem;
}
header img {
  width: 100px;
  height: 100px;
  border: 1px solid #000;
  border-radius: 50%;
  margin: 1rem;
}

/*Navigation Bar - All Pages*/
nav {
  width: 100%;
  display: flex;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  position: sticky;
  top: 0;
  background: #fff;
}
nav ul {
  list-style: none;
}
nav ul a {
  text-decoration: none;
  font-family: var(--primary-font);
  font-size: 1.5rem;
  padding-top: 0.25rem;
  color: #000;
}
nav ul a:hover{
  color: #ff0000;
}
nav ul a:visted{
  color: #ffff00;
}
/*Main Content Area - All Pages*/
main {
    display: flex;
    flex-direction: column;
    width: 100%;
  
    }

/*Breadcrumbs*/
main ul {
  display: flex;
  padding: 1rem;
  list-style: none;
}
main ul a {
  text-decoration: none;
}
main ul li + li:before {
  padding: 0.5rem;
  color: black;
  content: "/\00a0";
}

/*Blog Page*/
#blog{ /*section containing blog articles*/
  display: flex;
  flex-direction:column;
  align-items: center;
} 
.blog-container-styling{ /*div to separate blog posts 2x2)*/
  display: flex;
  width:100%;
  flex-direction: column;
  align-items: center;
}
.blog-post { /*Article containing blog posts*/
  display: flex;
  flex-direction: column;
  width: 70%;
  border: 1px solid #000;
  margin: 1rem;
}
.blog-heading{ /*title of each blog post*/
  text-align: center;
  padding: 1rem;
}
.blog-date-and-time{ /*date and time of blog post - above image*/
  padding: 1rem;
}
.blog-post-image{
  width: 50%;
  height: 10rem;
  border: solid 1px #000;
  margin: 0 auto;
}
.blog-post-content{
  padding: 1rem;
}


/*About Me Page*/
#about-me-content{ /*Article containing about me content*/
  width: 80%;
  height: 19rem;
  border: 1px solid black;
  margin:  0 auto;
}
#about-me-img{/*Container for image in article*/
  width: 40%;
  height: 90%;
  border: 1px solid #000;
  margin: 1rem;
  float: left;
}
#about-me-txt{ /*Paragraph containing about me text*/
  padding: 1rem;
}
/*Footer - All Pages*/
footer {
  display: flex;
  width: 100%;
  border: 1px solid #000;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  background: #fff;
}
footer img { /*Container for github icon*/
  width: 5rem;
  margin: 2rem;
  border: 1px solid #000;
}
footer p { /*Copyright text*/
  font-family: var(--primary-font);
  margin: 2rem;
}

@media only screen and (min-width: 500px) {
  
  nav ul { /*Makes navabar display horizontally*/
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
  }
  /*main{
    display: flex;
    width: 100%;  
  }*/
  #blog{ /*Makes blogposts display horizontally*/
    flex-direction:  ;

  }
 .blog-post{
    width: 70%;
    height: 20rem;
    margin-bottom: 1rem;

  }
  #about-me-img{ /*changes width and height of about me image*/
    width: 30%;
    height: 90%;
  }

  @media only screen and (min-width: 700px){
  #about-me-content{
    height: 30rem;
  }
  }

@media only screen and (min-width: 900px){
  .blog-container-styling{
    flex-direction: row;
  }
  .blog-post{
    width: 40%;
    height: 30rem;
    margin: 1rem auto;

  }
}
